

<!-- Basket -->

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body, button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls{
  padding: 2%;
  background: #333;
  color: #eee;
  margin-top: 60px;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
  overflow: hidden;
}

.container .mix{
  text-align: left;
  background: none repeat scroll 0% 0% #E9E9E9;
  margin-bottom: 2%;
  display: none;

}

.container .mix.category-1{
  border-top: 10px solid #FFDC00;
  border-top-left-radius:10%;

}

.container .mix.category-2{
  border-top: 10px solid red;
  border-top-left-radius:10%;
}

.container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container .mix:before{
  content: '';
  display: inline-block;
  /* padding-top: 60%; */
}

@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}

/**
 * List Styles
 */

.container.list .mix{
  width: 100%;
}

.container.list .mix:before{
  padding-top: 40px;
}

html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	/*line-height: 22px;*/
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}


/* Images responsiveness*/
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.centerImage {
	margin:0 auto; 
	padding:0;
}
.icon-image {

	font-size: 30px;
	color: #FFDC00;
}

.icon-menu {

	margin-top: 10px;
	position: absolute;
	left: 5%;
}

.icon-search {
	position: absolute;
	left: 15%;
}

.icon-user {
	position: absolute;
	right:15%;
}

.icon-basket {
	position: absolute;
	right:5%;
}



.header,
.content,
.footer
{
	text-align: center;
}

.header,
.footer
{
	background: white;
	font-size: 16px;
	font-weight: bold;
	color: black ;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 50px;
}

.header{
	background-image: url(../images/logo-george.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:150px;
	padding-top: 10px;
	background-color: black;

}
.slideshow{
	padding-top: 10px;
}

.newsletter {
	background: none repeat scroll 0% 0% #E9E9E9;
	padding: 20px;
	text-align: center;
	overflow: hidden;
	clear: both;
	width: 100%;
}

#subscribeForm{
	width: 100%;
	margin: 0px auto;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 13px;
	font-family: Georgia,Times,"Times New Roman",serif;
}

.newsletter-submit{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 13px;
	font-family: Georgia,Times,"Times New Roman",serif;
}

.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
#mainMenu
{
	background: center center no-repeat transparent;
	background-image: url(../images/icon-menu.png);

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;

}
.content
{
	padding: 60px 50px 50px 50px;
}



<!-- Dialog -->

.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}


