@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


.list-group-item
{

  padding: 20px 30px;

  background-color: #ddd;
 

}

/*  Site Map */
.breadcrumbs {
      height: 20px;
      padding: 10px 0 0;
      margin: 20px auto;
      text-transform: uppercase;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 13px;
      text-align: left;
    }

.breadcrumbs a {
      padding: 0 20px 0 0;
      color: #7c7c7c;
    }

.breadcrumbs .current {
      text-decoration: underline;
    }
/*  Cookie Notification */


.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 30.3%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #35A785;
  border-radius: .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: .25em;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}



*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body, button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls{
  padding: 2%;
  background: #333;
  color: #eee;
  margin-top: 60px;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  /*background: #666;*/
  border: 0;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;

  
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
  overflow: hidden;
}

.container .mix{
  text-align: left;
  background: none repeat scroll 0% 0% #E9E9E9;
  margin-bottom: 2%;
  display: none;

}

.container .mix.category-1{
  border-top: 10px solid #FFDC00;
  border-top-left-radius:10%;
  border-top-right-radius:10%;

}

.container .mix.category-2{
  border-top: 10px solid red;
  border-top-left-radius:10%;
  border-top-right-radius:10%;
}
/*
.container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}
*/

.container .mix:before{
  
  display: inline-block;
  /* padding-top: 60%; */
}

@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}

/**
 * List Styles
 */

.container.list .mix{
  width: 100%;
}

.container.list .mix:before{
  padding-top: 40px;
}

html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	/*line-height: 22px;*/
	/*color: #666;*/
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
}

nav:not(.mm-menu)
{
	display: none;
}


/* Images responsiveness*/
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.centerImage {
	margin:0 auto; 
	padding:0;
}
.icon-image {

	font-size: 30px;
	color: white;
}

.icon-menu {

	margin-top: 10px;
	position: absolute;
	left: 5%;
}

.icon-search {
	position: absolute;
	left: 15%;
}

.icon-user {
	position: absolute;
	right:15%;
}

.icon-basket {
	position: absolute;
	right:5%;
}



.header,
.content,
.footer
{
	text-align: center;
}

.header,
.footer
{
	background: white;
	font-size: 16px;
	font-weight: bold;
	color: black ;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 50px;
}

.header{
	background-image: url(../images/logo-george.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:150px;
	padding-top: 10px;
	background-color: black;

}
.slideshow{
	padding-top: 10px;
}

.newsletter {
	background: none repeat scroll 0% 0% #E9E9E9;
	padding: 20px;
	text-align: center;
	overflow: hidden;
	clear: both;
	width: 100%;
}

#subscribeForm{
	width: 100%;
	margin: 0px auto;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 13px;
	font-family: Georgia,Times,"Times New Roman",serif;
}

.newsletter-submit{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 13px;
	font-family: Georgia,Times,"Times New Roman",serif;
}

.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
#mainMenu
{
	background: center center no-repeat transparent;
	background-image: url(../images/icon-menu.png);

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;

}
.content
{
	padding: 60px 50px 50px 50px;
}




.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}



/* CSS used here will be applied after bootstrap.css */
#carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
/*
.item .thumb img, .item img {
	width: 100%;	
}
*/


.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.price-text-colorsale
{
    color: #F00;
    text-decoration: none;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.slick-prev {
  color: #000;
}



@media screen and (max-width: 1100px) {
  
    .mainContainer{
      text-align: center;
    }
    .container.list .mix{
      width: 60%;
    }

    /* Index Slider 2 */


.sliderCenter {
  margin:0 auto; 
  padding:0;
}

.slider2 {
    /*margin: 10px 10px 10px 10px;*/
    display: inline-block;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.slider2:hover {
  cursor: pointer;
  -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }

}



@media screen and (max-width: 600px) {
  
    .btnText{
      display: none;
    }

    .mainContainer{
      text-align: justify;
    }
    .container.list .mix{
      width: 100%;
    }
}




